<div style="margin-top:0dvh">

    <!-- REGISTRO DE CONSUMOS -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="row"  style="display: flex;justify-content:space-between;align-items:center;">
                    <div class="col-md-6" > <h2>Registra tu consumo</h2> </div>
                    <div class="col-md-6" > <h5>{{ selectName }}</h5> </div>
                </div>
                <div class="row" style="display: flex;">
                    <span style="margin-right: 0.5rem;">
                        <label for="nombreInput" class="p-sr-only">Registrarse...</label>
                        <input id="nombreInput" type="text" pInputText pAutoFocus [autofocus]="true" placeholder="Registrarse..." pTooltip="Enter your username"
                            class="p-element p-inputtext p-component" (keyup.enter)="guardarRegistro()" >
                    </span>
                    <p-toast key="tst"></p-toast>
                    <button pbutton="" (click)="guardarRegistro()" pripple="" label="Save" icon="pi pi-check" class="p-element p-ripple p-button p-button-success p-component" style="margin-right: 0.5rem;">
                        <span class="p-button-icon p-button-icon-left pi pi-check" aria-hidden="true"></span>
                        <span class="p-button-label">Registrar</span><span class="p-ink"></span>
                    </button>
                </div>
        </div>
    </div>

    <!-- CONSUMOS INGRESADOS DIARIOS -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="row" style="display: flex; justify-content:space-between;align-items:center">
                    <div class="col-md-6"><h2>Consumos ingresados</h2></div>
                    <div class="col-md-6">
                        <button pbutton="" (click)="imprimirCorte()" pripple="" label="Delete" icon="pi pi-print" class="p-element p-button-warning p-button p-component" style="margin-right: 0.5rem;">
                            <span class="p-button-icon p-button-icon-left pi pi pi-print" aria-hidden="true"></span>
                            <span class="p-button-label">Imprimir</span><span class="p-ink"></span>
                        </button>
                    </div>
                </div>

                <p-table [value]="registros" scrollDirection="both" [scrollable]="true" scrollHeight="400px" styleClass="mt-3" responsiveLayout="scroll">
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width:200px">#</th>
                            <th style="width:200px">Nombre</th>
                            <th style="width:200px">Comida</th>
                            <th style="width:200px">Precio</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-registro>
                        <tr>
                            <td style="width:200px">{{ registro.id_personal }}</td>
                            <td style="width:200px">{{ registro.nombre }}</td>
                            <td style="width:200px">{{ registro.desc_comida }}</td>
                            <td style="width:200px">${{ registro.precioUnitario }}</td>
                        </tr>
                    </ng-template>
                </p-table>

            </div>
        </div>
    </div>

    </div>
</div>
